th {
    @include themer(
        color,
        (
            "dark": $site-ui-brand-dark,
            "light": $site-ui-brand-light,
        )
    );
}

table {
    border-radius: 4px;
    -ms-box-shadow: 1px 1px 6px #e0e0e0;
    -o-box-shadow: 1px 1px 6px #e0e0e0;
    -webkit-box-shadow: 1px 1px 6px #e0e0e0;
    -moz-box-shadow: 1px 1px 6px #e0e0e0;
    box-shadow: 1px 1px 6px #e0e0e0;
    margin-top: 1em;
    margin-bottom: 1em;
}
